USE [master]
GO
/****** Object:  Database [bd_clinica_final]    Script Date: 6/20/2025 2:16:04 PM ******/
CREATE DATABASE [bd_clinica_final]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bd_clinica_final', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLAYESTA\MSSQL\DATA\bd_clinica_final.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bd_clinica_final_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLAYESTA\MSSQL\DATA\bd_clinica_final_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bd_clinica_final].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bd_clinica_final]
GO
/****** Object:  Table [dbo].[AltaMedica]    Script Date: 6/20/2025 2:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AltaMedica](
	[id_alta] [varchar](20) NOT NULL,
	[fecha_alta] [date] NOT NULL,
	[hora_alta] [time](7) NOT NULL,
	[diagnostico_final] [text] NULL,
	[tipo_alta] [varchar](20) NULL,
	[destino] [varchar](50) NULL,
	[observaciones] [text] NULL,
	[id_internamiento] [varchar](20) NOT NULL,
	[id_medico] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_alta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cama]    Script Date: 6/20/2025 2:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cama](
	[id_cama] [varchar](20) NOT NULL,
	[cod_c] [varchar](20) NOT NULL,
	[id_habitacion] [varchar](20) NOT NULL,
	[estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cama] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habitacion]    Script Date: 6/20/2025 2:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitacion](
	[id_habitacion] [varchar](20) NOT NULL,
	[cod_h] [varchar](20) NOT NULL,
	[piso] [int] NULL,
	[id_servicio] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_habitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Internamiento]    Script Date: 6/20/2025 2:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Internamiento](
	[id_internamiento] [varchar](20) NOT NULL,
	[fecha_ingreso] [date] NOT NULL,
	[hora_ingreso] [time](7) NOT NULL,
	[diagnostico] [text] NULL,
	[observaciones_admision] [text] NULL,
	[tipo_internamiento] [varchar](30) NULL,
	[procedencia_paciente] [varchar](100) NULL,
	[estado] [varchar](20) NULL,
	[id_paciente] [varchar](20) NOT NULL,
	[id_medico] [varchar](20) NOT NULL,
	[id_cama] [varchar](20) NOT NULL,
	[id_motivo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_internamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medico]    Script Date: 6/20/2025 2:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medico](
	[id_medico] [varchar](20) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[especialidad] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_medico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Motivo]    Script Date: 6/20/2025 2:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Motivo](
	[id_motivo] [varchar](50) NOT NULL,
	[nombre_motivo] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_motivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 6/20/2025 2:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[id_paciente] [varchar](20) NOT NULL,
	[dni] [varchar](10) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[fecha_nacimiento] [date] NULL,
	[sexo] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServicioClinico]    Script Date: 6/20/2025 2:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicioClinico](
	[id_servicio] [varchar](20) NOT NULL,
	[nombre_servicio] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Traslado]    Script Date: 6/20/2025 2:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traslado](
	[id_traslado] [varchar](20) NOT NULL,
	[id_internamiento] [varchar](20) NOT NULL,
	[fecha_traslado] [date] NOT NULL,
	[hora_traslado] [time](7) NOT NULL,
	[tipo_traslado] [varchar](20) NOT NULL,
	[id_cama_origen] [varchar](20) NOT NULL,
	[id_cama_destino] [varchar](20) NOT NULL,
	[id_medico_solicita] [varchar](20) NOT NULL,
	[observacion] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_traslado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_sistema]    Script Date: 6/20/2025 2:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_sistema](
	[cod_ingreso] [varchar](9) NOT NULL,
	[contraseña] [varchar](50) NULL,
	[rol_clinica] [varchar](20) NULL,
	[rango] [varchar](20) NULL,
	[nombres] [varchar](50) NULL,
	[apellidos] [varchar](50) NULL,
	[sexo] [varchar](10) NULL,
	[fecha_nacimiento] [date] NULL,
	[correo] [varchar](100) NULL,
	[num_celular] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_ingreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AltaMedica] ([id_alta], [fecha_alta], [hora_alta], [diagnostico_final], [tipo_alta], [destino], [observaciones], [id_internamiento], [id_medico]) VALUES (N'A0001', CAST(N'2024-12-09' AS Date), CAST(N'03:37:07' AS Time), N'Iste maiores itaque animi.', N'fallecimiento', N'casa', N'Quam id repellendus quia neque. Incidunt praesentium molestiae. Vel architecto ut adipisci.', N'INT0075', N'M0017')
INSERT [dbo].[AltaMedica] ([id_alta], [fecha_alta], [hora_alta], [diagnostico_final], [tipo_alta], [destino], [observaciones], [id_internamiento], [id_medico]) VALUES (N'A0002', CAST(N'2025-05-09' AS Date), CAST(N'07:53:55' AS Time), N'Voluptatem iure quaerat.', N'alta voluntaria', N'morgue', N'Fugit dolorem itaque culpa deleniti soluta quisquam. Repellat in quisquam. Dolores architecto nisi.', N'INT0060', N'M0017')
INSERT [dbo].[AltaMedica] ([id_alta], [fecha_alta], [hora_alta], [diagnostico_final], [tipo_alta], [destino], [observaciones], [id_internamiento], [id_medico]) VALUES (N'A0003', CAST(N'2025-01-07' AS Date), CAST(N'01:07:58' AS Time), N'Error aperiam veniam sunt tenetur numquam.', N'alta voluntaria', N'morgue', N'Totam possimus provident id dolores eum eligendi. Modi facere ea maiores libero atque voluptatem.', N'INT0080', N'M0008')
GO
INSERT [dbo].[Cama] ([id_cama], [cod_c], [id_habitacion], [estado]) VALUES (N'C0001', N'SERV-ONC-501111', N'HONC01', N'ocupada')
INSERT [dbo].[Cama] ([id_cama], [cod_c], [id_habitacion], [estado]) VALUES (N'C0002', N'SERV-ONC-501122', N'HONC01', N'ocupada')
INSERT [dbo].[Cama] ([id_cama], [cod_c], [id_habitacion], [estado]) VALUES (N'C0003', N'SERV-ONC-501213', N'HONC01', N'libre')
GO
INSERT [dbo].[Habitacion] ([id_habitacion], [cod_h], [piso], [id_servicio]) VALUES (N'HCAR01', N'HAB-CAR-01', 2, N'SERV-CAR')
INSERT [dbo].[Habitacion] ([id_habitacion], [cod_h], [piso], [id_servicio]) VALUES (N'HCAR02', N'HAB-CAR-02', 2, N'SERV-CAR')
INSERT [dbo].[Habitacion] ([id_habitacion], [cod_h], [piso], [id_servicio]) VALUES (N'HCAR03', N'HAB-CAR-03', 2, N'SERV-CAR')
GO
INSERT [dbo].[Internamiento] ([id_internamiento], [fecha_ingreso], [hora_ingreso], [diagnostico], [observaciones_admision], [tipo_internamiento], [procedencia_paciente], [estado], [id_paciente], [id_medico], [id_cama], [id_motivo]) VALUES (N'INT0001', CAST(N'2023-09-05' AS Date), CAST(N'21:34:34' AS Time), N'Esse recusandae dolorem ad deserunt.', N'Eius architecto quo expedita magni perspiciatis.', N'programado', N'referido', N'activo', N'P0001', N'M0019', N'C0014', N'MOT004')
INSERT [dbo].[Internamiento] ([id_internamiento], [fecha_ingreso], [hora_ingreso], [diagnostico], [observaciones_admision], [tipo_internamiento], [procedencia_paciente], [estado], [id_paciente], [id_medico], [id_cama], [id_motivo]) VALUES (N'INT0002', CAST(N'2024-05-12' AS Date), CAST(N'17:08:35' AS Time), N'Vel beatae voluptas debitis vitae.', N'Alias nisi exercitationem ratione ipsa.', N'programado', N'referido', N'activo', N'P0002', N'M0010', N'C0011', N'MOT002')
INSERT [dbo].[Internamiento] ([id_internamiento], [fecha_ingreso], [hora_ingreso], [diagnostico], [observaciones_admision], [tipo_internamiento], [procedencia_paciente], [estado], [id_paciente], [id_medico], [id_cama], [id_motivo]) VALUES (N'INT0003', CAST(N'2024-01-04' AS Date), CAST(N'09:23:56' AS Time), N'Tempore deleniti aliquid ipsa maxime.', N'Porro velit qui deserunt inventore veniam ullam.', N'emergencia', N'referido', N'completo', N'P0003', N'M0019', N'C0025', N'MOT005')
GO
INSERT [dbo].[Medico] ([id_medico], [nombre], [apellido], [especialidad]) VALUES (N'M0001', N'Feliciana', N'Cantón', N'Cardiología')
INSERT [dbo].[Medico] ([id_medico], [nombre], [apellido], [especialidad]) VALUES (N'M0002', N'Amador', N'Llopis', N'Cardiología')
INSERT [dbo].[Medico] ([id_medico], [nombre], [apellido], [especialidad]) VALUES (N'M0003', N'Jose Ignacio', N'Godoy', N'Neurología')
GO
INSERT [dbo].[Motivo] ([id_motivo], [nombre_motivo]) VALUES (N'MOT001', N'Observación')
INSERT [dbo].[Motivo] ([id_motivo], [nombre_motivo]) VALUES (N'MOT002', N'Emergencia')
INSERT [dbo].[Motivo] ([id_motivo], [nombre_motivo]) VALUES (N'MOT003', N'Evaluación')
GO
INSERT [dbo].[Paciente] ([id_paciente], [dni], [nombre], [apellido], [fecha_nacimiento], [sexo]) VALUES (N'P0001', N'1000000', N'Eutimio', N'Colomer', CAST(N'2011-07-31' AS Date), N'masculino')
INSERT [dbo].[Paciente] ([id_paciente], [dni], [nombre], [apellido], [fecha_nacimiento], [sexo]) VALUES (N'P0002', N'1000001', N'Dionisia', N'Cabrera', CAST(N'1948-11-04' AS Date), N'masculino')
INSERT [dbo].[Paciente] ([id_paciente], [dni], [nombre], [apellido], [fecha_nacimiento], [sexo]) VALUES (N'P0003', N'1000002', N'Chus', N'Cabrero', CAST(N'1973-05-27' AS Date), N'femenino')
GO
INSERT [dbo].[ServicioClinico] ([id_servicio], [nombre_servicio]) VALUES (N'SERV-CAR', N'Cardiología')
INSERT [dbo].[ServicioClinico] ([id_servicio], [nombre_servicio]) VALUES (N'SERV-CIR', N'Cirugía General')
INSERT [dbo].[ServicioClinico] ([id_servicio], [nombre_servicio]) VALUES (N'SERV-GIN', N'Gineco-Obstetricia')
GO
INSERT [dbo].[Traslado] ([id_traslado], [id_internamiento], [fecha_traslado], [hora_traslado], [tipo_traslado], [id_cama_origen], [id_cama_destino], [id_medico_solicita], [observacion]) VALUES (N'T0001', N'INT0082', CAST(N'2024-12-28' AS Date), CAST(N'12:08:35' AS Time), N'habitacion', N'C0001', N'C0030', N'M0020', N'Nulla explicabo voluptate eum adipisci aliquid.')
INSERT [dbo].[Traslado] ([id_traslado], [id_internamiento], [fecha_traslado], [hora_traslado], [tipo_traslado], [id_cama_origen], [id_cama_destino], [id_medico_solicita], [observacion]) VALUES (N'T0002', N'INT0081', CAST(N'2025-05-10' AS Date), CAST(N'04:08:00' AS Time), N'habitacion', N'C0020', N'C0004', N'M0014', N'Repellat nesciunt quisquam numquam fugit incidunt.')
INSERT [dbo].[Traslado] ([id_traslado], [id_internamiento], [fecha_traslado], [hora_traslado], [tipo_traslado], [id_cama_origen], [id_cama_destino], [id_medico_solicita], [observacion]) VALUES (N'T0003', N'INT0026', CAST(N'2024-11-04' AS Date), CAST(N'13:34:45' AS Time), N'habitacion', N'C0003', N'C0001', N'M0001', N'Animi doloribus doloremque est assumenda porro.')
GO
INSERT [dbo].[Usuario_sistema] ([cod_ingreso], [contraseña], [rol_clinica], [rango], [nombres], [apellidos], [sexo], [fecha_nacimiento], [correo], [num_celular]) VALUES (N'U0000001', N'_4gAs&x#1P', N'medico', N'jefe', N'Isidro', N'Sanchez', N'femenino', CAST(N'1999-07-26' AS Date), N'cuervojose@yahoo.com', N'964277800')
INSERT [dbo].[Usuario_sistema] ([cod_ingreso], [contraseña], [rol_clinica], [rango], [nombres], [apellidos], [sexo], [fecha_nacimiento], [correo], [num_celular]) VALUES (N'U0000002', N'@5LLt^9YrE', N'medico', N'junior', N'Cebrián', N'Guerrero', N'masculino', CAST(N'1966-05-04' AS Date), N'wilfredo52@yahoo.com', N'942655866')
INSERT [dbo].[Usuario_sistema] ([cod_ingreso], [contraseña], [rol_clinica], [rango], [nombres], [apellidos], [sexo], [fecha_nacimiento], [correo], [num_celular]) VALUES (N'U0000003', N'zZT7oM4iB#', N'admisión', N'senior', N'Ruy', N'Segarra', N'masculino', CAST(N'1969-03-10' AS Date), N'jose-manueljodar@hotmail.com', N'951098277')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Paciente__D87608A753CBF4FB]    Script Date: 6/20/2025 2:16:04 PM ******/
ALTER TABLE [dbo].[Paciente] ADD UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cama] ADD  DEFAULT ('libre') FOR [estado]
GO
ALTER TABLE [dbo].[Internamiento] ADD  DEFAULT ('activo') FOR [estado]
GO
ALTER TABLE [dbo].[AltaMedica]  WITH CHECK ADD FOREIGN KEY([id_internamiento])
REFERENCES [dbo].[Internamiento] ([id_internamiento])
GO
ALTER TABLE [dbo].[AltaMedica]  WITH CHECK ADD FOREIGN KEY([id_medico])
REFERENCES [dbo].[Medico] ([id_medico])
GO
ALTER TABLE [dbo].[Cama]  WITH CHECK ADD FOREIGN KEY([id_habitacion])
REFERENCES [dbo].[Habitacion] ([id_habitacion])
GO
ALTER TABLE [dbo].[Habitacion]  WITH CHECK ADD FOREIGN KEY([id_servicio])
REFERENCES [dbo].[ServicioClinico] ([id_servicio])
GO
ALTER TABLE [dbo].[Internamiento]  WITH CHECK ADD FOREIGN KEY([id_cama])
REFERENCES [dbo].[Cama] ([id_cama])
GO
ALTER TABLE [dbo].[Internamiento]  WITH CHECK ADD FOREIGN KEY([id_medico])
REFERENCES [dbo].[Medico] ([id_medico])
GO
ALTER TABLE [dbo].[Internamiento]  WITH CHECK ADD FOREIGN KEY([id_motivo])
REFERENCES [dbo].[Motivo] ([id_motivo])
GO
ALTER TABLE [dbo].[Internamiento]  WITH CHECK ADD FOREIGN KEY([id_paciente])
REFERENCES [dbo].[Paciente] ([id_paciente])
GO
ALTER TABLE [dbo].[Traslado]  WITH CHECK ADD FOREIGN KEY([id_cama_origen])
REFERENCES [dbo].[Cama] ([id_cama])
GO
ALTER TABLE [dbo].[Traslado]  WITH CHECK ADD FOREIGN KEY([id_cama_destino])
REFERENCES [dbo].[Cama] ([id_cama])
GO
ALTER TABLE [dbo].[Traslado]  WITH CHECK ADD FOREIGN KEY([id_internamiento])
REFERENCES [dbo].[Internamiento] ([id_internamiento])
GO
ALTER TABLE [dbo].[Traslado]  WITH CHECK ADD FOREIGN KEY([id_medico_solicita])
REFERENCES [dbo].[Medico] ([id_medico])
GO
ALTER TABLE [dbo].[Traslado]  WITH CHECK ADD CHECK  (([tipo_traslado]='servicio' OR [tipo_traslado]='habitacion' OR [tipo_traslado]='cama'))
GO
USE [master]
GO
